@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

@import "../mixins/mixins";
@import "../vars";

//header
.header-main {
  position: fixed;
  width: 100%;
  top: 0;
  left: auto;
  font-family: Poppins;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0;
  padding: 0;

  .header-container {
    max-width: 1250px;
    margin: 0 auto;
  }

  @include breakpoint(xs) {
    background-color: white;
    padding: 1rem;

    // ?? .logo-show-light logo-show-dark
    .compnay-logo-white-bg {
      display: block;
      width: 150px;
    }
    .compnay-logo-dark-bg {
      display: none;
    }
  }
}

/// >?????
.compnay-logo-white-bg {
  display: none;
}

// sticky
.sticky-activated {
  background: #fff;
  transition: ease-in 0.5s all;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

.header-main.sticky-activated {
  @include breakpoint(lg) {
    .nav-link {
      color: #6d7783;
      &.active {
        color: $accent_color;
        span {
          border-top: 2px solid $accent_color;
        }
      }
      &:hover {
        span {
          border-top: 2px solid #6d7783;
        }
      }
    }
    .compnay-logo-white-bg {
      display: block;
    }
    .compnay-logo-dark-bg {
      display: none;
    }
  }
}

.headerNav {
  display: flex;
  position: relative;
}

// links styles
a.nav-link {
  color: white;
  padding: 0;
  margin: 0 1rem;

  &.active {
    span {
      border-top: 2px solid white;
    }
  }

  &:hover {
    span {
      border-top: 2px solid white;
    }
  }

  span {
    padding-top: 10px;
    border-top: 2px solid transparent;
  }
}

.dropdown-list__open {
  display: block;
}

// drop down-list styles
.dropdown-list {
  position: absolute;
  list-style: none;
  width: auto;
  display: none;
  top: 90px;
  left: 0px;
  margin-left: -1px;
  margin-top: 0px;
  min-width: 13em;
  background: white;
  padding: 17px;
  font-size: 12px;
  font-weight: 400;
  text-transform: none;
  line-height: 30px;

  .nav-link {
    color: #6d7783;
    &:hover {
      color: $accent_color;
    }
  }
  @include breakpoint(xs) {
    position: relative;
    display: none;
    visibility: hidden;
    top: 0;
    text-align: center;
    width: 100%;
    padding-top: 0;

    .dropdown-list__closed {
      display: none;
    }

    li {
      display: block;

      .nav-link {
        color: #617186;
        font-size: 15px;
        font-weight: 700;
        text-transform: none;
        letter-spacing: 0px;
        line-height: 40px;
        padding-top: 0;
      }
    }
  }
}

ul.nav-list {
  list-style: none;
  line-height: 90px;
  margin: 0;

  li {
    display: inline-block;

    @include breakpoint(xs) {
      border-top: solid 1px #f7f9fb;
    }
  }

  @include breakpoint(xs) {
    background-color: white;
    display: grid;
    text-align: center;
    line-height: 40px;

    a.nav-link {
      color: black;
      font-size: 15px;
      font-weight: 700;
      text-transform: none;
      letter-spacing: 0px;

      &.active {
        color: $accent_color;
      }

      &:hover {
        span {
          border-top: 2px solid white;
        }
      }
    }
  }
}

.dropdown {
  position: relative;
  color: white;
  padding: 0;

  &:hover {
    span {
      border-top: 2px solid white;
    }
    .dropdown-list {
      display: grid;
      visibility: visible;
    }
  }
  .dropdown-arrow {
    display: none;
  }

  @include breakpoint(xs) {
    color: black;
    font-size: 15px;
    font-weight: 700;
    text-transform: none;
    letter-spacing: 0px;
    line-height: 40px;
    .dropdown-arrow {
      display: inline-block;
    }
  }
}

.navButton {
  transition: all ease 0.5s;
  color: #4d4d4f;
  border-radius: 100px;
  margin-left: 1rem;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 28px;

  @include breakpoint(xs) {
    display: none;
  }
}

.btn-warning {
  background-color: #ffd149;
  border-color: #ffc107;
}
.navButton a {
  @include linkStyleReset(#4d4d4f);
}

.navButton:hover {
  background-color: transparent;
}

.navButton:hover a {
  color: white;
}

.navbar-expand-lg .navbar-collapse {
  justify-content: flex-end;
}
