/* Settings for testing purposes to be removed after instalation */

body {
  background-color: gray;
  height: 200vh;
}

/* Import Poppins Font */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* Import Fontello for dropdown arrow */

@font-face {
  font-family: 'fontello';
  src: url('.//fontello.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Change Defautlt style Settings */

* {
  margin: 0;
  padding: 0;
}

/* header */

.header-main {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  padding: 0;
}
.header-main .header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

.compnay-logo-white-bg {
  display: none;
}

/* Sticky Header */

.sticky-activated {
  background: #fff;
  transition: ease-in-out 0.5s all;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

.header-main.sticky-activated .nav-link {
  color: #6d7783;
}
.header-main.sticky-activated .nav-link.active {
  color: #13a24a;
}
.header-main.sticky-activated .nav-link.active span {
  border-top: 2px solid #13a24a;
}
.header-main.sticky-activated .nav-link:hover span {
  border-top: 2px solid #13a24a;
  color: #13a24a;
}

.header-main.sticky-activated .compnay-logo-white-bg {
  display: block;
}

.header-main.sticky-activated .compnay-logo-dark-bg {
  display: none;
}

.headerNav {
  display: flex;
  position: relative;
}

a.nav-link {
  color: white;
  padding: 0;
  margin: 0 1rem;
  text-decoration: none;
}
a.nav-link.active span {
  border-top: 2px solid white;
}

a.nav-link:hover span {
  border-top: 2px solid white;
}

a.nav-link span {
  padding-top: 10px;
  font-weight: 600;
}

.dropdown-list__open {
  display: block;
}

.dropdown-list {
  position: absolute;
  list-style: none;
  width: auto;
  display: none;
  top: 90px;
  left: 0px;
  margin-left: -1px;
  margin-top: 0px;
  min-width: 13em;
  background: white;
  padding: 17px;
  font-size: 12px;
  font-weight: 400;
  text-transform: none;
  line-height: 30px;
}
.dropdown-list .nav-link {
  color: #6d7783;
}
.dropdown-list .nav-link:hover {
  color: #13a24a;
}

ul.nav-list {
  list-style: none;
  line-height: 90px;
  margin: 0;
}
ul.nav-list li {
  display: inline-block;
}

.dropdown {
  position: relative;
  color: white;
  padding: 0;
}
.dropdown:hover span {
  border-top: 2px solid white;
}
.dropdown:hover .dropdown-list {
  display: grid;
  visibility: visible;
}

.navButton {
  transition: all ease 0.5s;
  color: #4d4d4f;
  font-family: Poppins;
  border-radius: 100px;
  margin-left: 1rem;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 38px;
  width: 130px;
  background-color: #ffd149;
  border: 1px solid #ffd149;
}

.navButton a {
  text-decoration: none;
  color: #4d4d4f;
  font-weight: 600;
}

.navButton:hover {
  background-color: transparent;
}

.navButton:hover a {
  color: #ffd149;
}

.navbar-expand-lg .navbar-collapse {
  justify-content: flex-end;
}

.header-main .menu-icon {
  display: none;
}

/* Animated Hamburger Menu */

.header-main .menu-icon {
  cursor: pointer;
  display: inline-block;
  padding: 28px 20px;
  position: relative;
  user-select: none;
  display: none;
}

.header-main .menu-icon .navicon {
  background: #13a24a;
  display: block;
  height: 2px;
  position: relative;
  transition: all 0.2s ease-out;
  width: 18px;
}

.header-main .menu-icon .navicon:before,
.header-main .menu-icon .navicon:after {
  background: #13a24a;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header-main .menu-icon .navicon:before {
  top: 5px;
}

.header-main .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header-main .menu-btn {
  display: none;
}

.header-main .menu-btn:checked ~ .menu {
  max-height: 340px;
}

.header-main .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header-main .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(45deg);
}

.header-main .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(-45deg);
}

.header-main .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header-main .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* Mobile Layout */

@media (max-width: 375px) {
  .header-main {
    background-color: white;
    padding: 1rem 0;
  }

  .nav-container {
    display: none;
  }
  .nav-container__open {
    display: block;
    position: absolute;
    top: 90px;
    width: 100%;
  }

  .header-main .compnay-logo-white-bg {
    display: block;
    width: 150px;
    padding-left: 1rem;
  }

  .header-main .compnay-logo-dark-bg {
    display: none;
  }
  .header-main .menu-icon {
    display: block;
  }

  .dropdown-list {
    position: relative;
    display: none;
    visibility: hidden;
    top: 0;
    text-align: center;
    padding-top: 0;
  }

  .dropdown-list .dropdown-list__closed {
    display: none;
  }

  .dropdown-list li a.nav-link {
    color: #617186 !important;
  }

  li.nav-link {
    color: #293340;
    font-size: 15px;
    font-weight: 700;
    text-transform: none;
    letter-spacing: 0px;
    line-height: 40px;
    padding-top: 0;
  }
  ul.nav-list {
    background-color: white;
    display: grid;
    text-align: center;
    line-height: 40px;
  }
  ul.nav-list a.nav-link {
    color: #293340;
    font-size: 15px;
    font-weight: 700;
    text-transform: none;
    letter-spacing: 0px;
  }

  ul.nav-list a.nav-link.active {
    color: #13a24a;
  }

  .dropdown {
    color: #293340;
    font-size: 15px;
    font-weight: 700;
    text-transform: none;
    letter-spacing: 0px;
    line-height: 40px;
  }
  .navButton {
    display: none;
  }
}

.dropdown-arrow:before {
  content: '\e800';
  font-family: 'fontello';
  font-size: 8px;
  padding-left: 5px;
}
